extends ../../templates/base

block content
    form(action="/parcel/save" method="post")
        input(type="hidden" id="id" name="id" value=parcel.id)
        fieldset
            legend
                span Enter data
            label(for="orderInfo") Order:
            input(type="text" id="orderInfo" name="orderInfo" value=parcel.orderInfo)

            label(for="destination") Destination:
            input(type="text" id="destination" name="destination" value=parcel.destination)

            label(for="receiver") Receiver:
            input(type="text" id="receiver" name="receiver" value=parcel.receiver)

            label(for="orderDate") Order date:
            input(type="date" id="orderDate" name="orderDate" value=parcel.orderDate)

            label(for="itemInCentral") Item in Haiger:
            input(type="checkbox" id="itemInCentral" name="itemInCentral" checked=(parcel.itemInCentral===1))

            label(for="sentFromCentral") Sent from Haiger (date):
            input(type="date" id="sentFromCentral" name="sentFromCentral" value=parcel.sentFromCentral)

            label(for="sentFromCentralWith") Sent from Haiger (with):
            input(type="text" id="sentFromCentralWith" name="sentFromCentralWith" value=parcel.sentFromCentralWith)

            label(for="comment") Comment:
            textarea(id="comment" name="comment" value=parcel.comment) #{parcel.comment}

            label(for="arrivedAtDestination") Arrived at destination:
            input(type="date" id="arrivedAtDestination" name="arrivedAtDestination" value=parcel.arrivedAtDestination)

            button(type="submit") save
