mixin listItem(parcel)
    tr
        td(id='id-' + parcel.id) #{parcel.id}
        td
            ul
                li(class='orderInfo') #{parcel.orderInfo}
                li(class='receiver') #{parcel.receiver}
                li(class='orderDate') #{parcel.orderDate}
        td(class='destination') #{parcel.destination}
        td
            img(class='itemInCentral' src=parcel.itemInCentralIcon)
        td
            ul
                li(class='sentFromCentralWith') #{parcel.sentFromCentralWith}
                li(class='sentFromCentral') #{parcel.sentFromCentral}
        td(class='comment') #{parcel.comment}
        td
            a(href="/parcel/"+parcel.arrivedAtDestinationAction+"/"+parcel.id)
                img(class='arrived' src=parcel.arrivedAtDestinationIcon)
        td
            a(href="/parcel/form/" + parcel.id id="edit-" + parcel.id) edit