mixin listItem(parcel)
    tr
        td #{parcel.id}
        td
            ul
                li #{parcel.orderInfo}
                li #{parcel.receiver}
                li #{parcel.orderDate}
        td #{parcel.destination}
        td
            img(src=parcel.itemInCentralIcon)
        td
            ul
                li #{parcel.sentFromCentralWith}
                li #{parcel.sentFromCentral}
        td #{parcel.comment}
        td
            a(href="/parcel/"+parcel.arrivedAtDestinationAction+"/"+parcel.id)
                img(src=parcel.arrivedAtDestinationIcon)
        td
            a(href="/parcel/form/" + parcel.id) edit